.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
label{
    margin-top: -2px;
}

#word-header{
    background-color: #d6e9c6
}

form{
    padding: 16px;
}

.warning{
    background-color: #fcf8e3;
    color: lightcoral;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}